h1 {
  color: red;
}

/*esto es un comentario*/
p {
  color: blue;
  font-size: 16pt;
}

#primera-noticia {
  color: green;
  font-size: 12pt;
}

#segunda-noticia {
  color: darkmagenta;
}

.encabezado {
  font-size: 24pt;
  text-transform: uppercase;
}

.warning {
  color: yellow;
}

.autor,
.fecha,
.ubicacion {
  text-decoration: underline;
}