body {
    padding: 0;
    margin: 0;
    background-color: aqua;
}

.container {
    width: 100%;
    background-color: rgb(1, 250, 250);
    min-height: 100vh;
}

h1 {
    margin: 0;
@include formato-texto

}
p {
    color: $text-color;
@include formato-texto
}

// .listado {
//     width: 10rem;
//     background-color: aquamarine;
//     padding: 0.5rem;

//     ul {
//         margin: 0 0.5rem;
//         li {
//             list-style: none;
//             &:hover {
//                 color: white;
//             }
//         }
//     }
// }