body {
    margin: 0;
    padding: 20px;
    z-index: 0;
}

.escenario {
    margin: 10px 0px;
    border: 1px solid #ccc;
    padding: 10px;
}

.escenario-1 {
    width: 100%;
}

.escenario-2 {
    width: 50%;
}

.px {
    background-color: green;
    color: yellow;
    width: 200px;
    border: 1px solid #ccc;
}

.porcentaje {
    background-color: red;
    color: white;
    width: 50%;
    border: 1px solid #ccc;
}

.view {
    background-color: yellow;
    width: 50vw;
    border: 1px solid #ccc;
}