:root {
    --color-principal: rgb(0, 107, 255);
    --ancho-principal: 450px;
}

.titulo {
    color: var(--color-principal);
}

.footer {
    color: aqua;
}

.contenedor {
    background-color: antiquewhite;
    padding: 1rem;
    max-width: var(--ancho-principal);
}